.login-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
  }
  
  .login-container {
    width: 100%;
    max-width: 400px; /* Ajusta según el tamaño deseado */
  }
  
  .login-item {
    margin-bottom: 16px;
  }
  
  .login-input {
    font-size: 14px; /* Reduce el tamaño del texto del input */
    padding: 8px;    /* Ajusta el padding interno del input */
  }
  
  .login-button {
    margin-top: 16px;
  }
  